@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #263c46;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #997246;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #ac804e;
  }

  html::-webkit-scrollbar {
    width: 6px;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #997246;
    border-radius: 2px;
  }

  html::-webkit-scrollbar-track {
    background-color: #030d12;
  }
}

@layer utilities {
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.4s ease forwards;
  }
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  white-space: nowrap;
  display: flex;
  animation: marquee 9s infinite linear;
  width: 60%;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.before\:animate-shimmer::before {
  animation: shimmer 1.4s infinite linear;
}

.shadow-border-bottom {
  box-shadow: 0 4px 25px -2px #061922;
}

.fadeInOut {
  animation: fadeInOut 2s infinite;
}

.position {
  position: sticky;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.active {
  color: #f0c986;
  font-weight: 500;
}

nav.fixed {
  position: fixed;
  top: 59px;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-item {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.nav-item::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 0;
  height: 2px;
  background: #f0c986;
  transition: width 0.5s;
}

.nav-item:hover::after,
.nav-item.active::after {
  width: 100%;
}

.nav-item2 {
  position: relative;
  padding-bottom: 12px;
  padding-top: 12px;
}

.nav-item2::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  background: #f0c986;
  transition: width 0.5s;
}

.nav-item2:hover::after,
.nav-item2.active::after {
  width: 100%;
}

.nav-item-mobile {
  position: relative;
  padding-bottom: 6px;
}

.nav-item-mobile::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1px;
  background: #f0c986;
}

.nav-item-mobile.active::after {
  width: 100%;
}

.nav-top-tienda {
  top: 59px;
}

.contac-shadow {
  text-shadow: 4px 4px 8px #5a5449;
}

.card {
  flex: 0 0 auto;
  max-width: 260px;
  min-width: 245px
}

.swiper-pagination-bullet {
  height: 20px;
  width: 20px;
  background: #f0c986;
}

.arrow-class::after {
  font-size: 18px;
  font-weight: 700;
  color: #bea16d;
}

.arrow-class:active::after {
  color: #f0c986;
  text-shadow: 4px 4px 8px #5a5449;
}

.slogan-nosotros {
  position: absolute;
  width: 700px;
  top: 50%;
  left: 50%;
  font-size: 2.25rem;
  line-height: 2.5rem;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 3px #01090c;
}

.width-manu-hamburguesa {
  width: 18rem;
}

.width-modal {
  width: 390px;
}

.margin-btn-logo {
  margin-top: 1.5rem;
  place-self: inherit;
}

.img-garantia {
  margin-left: 2rem;
  margin-top: 1rem;
}

.toners {
  filter: drop-shadow(10px 10px 8px #05141b);
}

.text-n-c {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@media (max-width: 612px) {
  .margin-btn-logo {
    margin-bottom: 0.2rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000000;
  border-left: 4px solid #000000;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
}

@media (max-width: 1279px) {
  .margin-btn-logo {
    margin-top: 0.5rem;
    place-self: center;
  }
}

.card-wrapper {
  max-width: 1278.2px;
  margin: 0 auto 35px;
  padding: 50px 0;
  overflow: hidden;
}

.footer-class {
  max-width: 1280px;
}

@media (max-width: 1450px) {
  .card-wrapper {
    max-width: 1034.2px;
  }

  .footer-class {
    max-width: 1034px;
  }
}

@media (max-width: 1249px) {
  .card-wrapper {
    max-width: 790.2px;
    margin: 0 auto 35px;
  }

  .width-modal {
    width: 340px;
  }

  .footer-class {
    max-width: 790px;
  }
}

@media (max-width: 967px) {
  .card-wrapper {
    max-width: 546.2px;
    margin: 0 auto 35px;
  }

  .footer-class {
    max-width: 700px;
    gap: 0.5rem;
    padding-left: 2rem;
  }
}

@media (max-width: 657px) {
  .card-wrapper {
    max-width: 302.2px;
    margin: 0 auto 35px;
  }

  .card-wrapper .swiper-button-next {
    display: none;
  }

  .card-wrapper .swiper-button-prev {
    display: none;
  }

  .slogan-nosotros {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .w-position-mobile {
    width: 40px;
    height: 40px;
    bottom: 2rem;
  }

  .img-w-icono {
    max-width: 26px;
    max-height: 26px;
  }

  .footer-class {
    max-width: 700px;
    gap: 0.5rem;
    padding-left: 0.5rem;
  }
}

.columns-lg {
  height: 87px;
}

.top-add-modal {
  top: 87px;
}

.recomendations-margin {
  top: 36px;
}

@media (min-width: 1023px) {
  .text-titulo {
    margin-top: 7rem;
  }
}

@media (min-width: 1150px) {
  .recomendations-margin {
    top: 44px;
  }

  .columns-lg {
    height: 60px;
  }

  .top-add-modal {
    top: 63px;
  }

  .form {
    padding-top: 2.5rem;
  }

  .margin-ver-producto {
    margin-top: 4.8rem;
  }
}

@media (max-width: 767px) {
  .nosotros-responsive {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 0px !important;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .parrafos-mobile {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .superheroe-responsive {
    width: 100%;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  .slogan-nosotros {
    width: 100%;
    min-width: 100px;
  }

}

@media (min-width: 1450px) {
  .grid-columns {
    width: 1280px;
    grid-template-columns: 9fr 10fr;
    margin-left: 0rem;
    text-align: left;
  }

  .toner1 {
    top: 14.6rem;
    left: -0.5rem;
    rotate: 1deg;
  }

  .toner2 {
    top: 7.2rem;
    left: 1.6rem;
    rotate: 2deg;
  }

  .toner3 {
    top: 1.5rem;
    right: -4rem;
    rotate: -2deg;
  }

  .text-titulo {
    text-align: left;
  }

  .margin-infografia {
    width: 1280px;
    justify-content: center;
    margin-top: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.margin-cart {
  margin-right: 7rem;
}

@media (min-width: 1280px) and (max-width: 1450px) {
  .grid-columns {
    width: 1180px;
    grid-template-columns: 9fr 10fr;
    margin-left: 0rem;
    text-align: left;
  }

  .toner1 {
    top: 14.6rem;
    left: 0rem;
    rotate: 1deg;
  }

  .toner2 {
    top: 7.2rem;
    left: 1.6rem;
    rotate: 2deg;
  }

  .toner3 {
    top: 1.5rem;
    right: -2.8rem;
    rotate: -2deg;
  }

  .margin-infografia {
    width: 1180px;
    justify-content: center;
    margin-top: 3rem;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    margin-right: auto;
    margin-left: auto;
  }

  .margin-cart {
    margin-right: 6rem;
  }
}

@media (min-width:1300px) {
  .invertir-sm {
    flex: auto;
  }
}

@media (min-width: 1024px) and (max-width:1279px) {
  .margin-cart {
    margin-right: 5rem;
  }

  .grid-columns {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    min-height: 540px;
    margin-left: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .text-img {
    width: 100%;
  }

  .margin-btn-logo {
    margin-top: 1.5rem;
  }

  .toner1 {
    top: 0.2rem;
    left: -13.5rem;
    rotate: -6deg;
    width: 162px;
  }

  .toner2 {
    top: 1rem;
    left: -0.5rem;
    rotate: -5deg;
    width: 254px;
  }

  .toner3 {
    top: 2rem;
    right: -13rem;
    rotate: 3deg;
    width: 185px;
  }

  .texto-servicio {
    margin-top: 1rem;
    max-width: 576px;
  }

  .invertir-sm {
    flex-direction: column;
  }

  .margin-infografia {
    margin-top: 2rem;
    padding-right: 2.7rem;
    padding-left: 2.7rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

@media(min-width: 876px) and (max-width:1023px) {
  .margin-cart {
    margin-right: 3.5rem;
  }

  .grid-columns {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    min-height: 540px;
    margin-left: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .text-titulo {
    margin-top: 7.8rem;
  }

  .text-img {
    width: 100%;
  }

  .margin-btn-logo {
    margin-top: 1.5rem;
  }

  .toner1 {
    top: -3rem;
    left: -13.5rem;
    rotate: -6deg;
    width: 162px;
  }

  .toner2 {
    top: -2.3rem;
    left: -0.5rem;
    rotate: -5deg;
    width: 254px;
  }

  .toner3 {
    top: -1.3rem;
    right: -13rem;
    rotate: 3deg;
    width: 185px;
  }

  .texto-servicio {
    margin-top: 1rem;
    max-width: 636px;
  }

  .invertir-sm {
    flex-direction: column;
  }

  .margin-infografia {
    margin-top: 3rem;
    padding-right: 2.7rem;
    padding-left: 2.7rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

@media(min-width: 635px) and (max-width: 875px) {
  .margin-cart {
    margin-right: 3rem;
  }

  .grid-columns {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 620px;
    min-height: 540px;
    margin-left: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .text-titulo {
    margin-top: 7.5rem;
  }

  .text-img {
    width: 100%;
  }

  .margin-btn-logo {
    margin-top: 1.5rem;
  }

  .toner1 {
    top: -2.5rem;
    left: -8.5rem;
    rotate: -6deg;
    width: 132px;
  }

  .toner2 {
    top: -1.9rem;
    left: -0.1rem;
    rotate: -4deg;
    width: 254px;
  }

  .toner3 {
    top: -1rem;
    right: -8.5rem;
    rotate: 2deg;
    width: 148px;
  }

  .texto-servicio {
    margin-top: 1rem;
    max-width: 590px;
  }

  .invertir-sm {
    flex-direction: column;
  }

  .margin-infografia {
    margin-top: 3rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

@media(min-width: 451px) and (max-width: 634px) {
  .margin-cart {
    margin-right: 3rem;
  }

  .grid-columns {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 452px;
    min-height: 540px;
    margin-left: 0px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .text-titulo {
    margin-top: 7rem;
  }

  .text-titulo-mobile {
    font-size: 3rem;
    line-height: 1;
  }

  .text-img {
    width: 100%;
  }

  .margin-btn-logo {
    margin-top: 1.5rem;
  }

  .toner1 {
    top: -2.5rem;
    left: 4.1rem;
    rotate: -7deg;
    width: 132px;
  }

  .toner2 {
    top: -1.8rem;
    left: -7.1rem;
    rotate: -4deg;
    width: 254px;
  }

  .toner3 {
    top: -1rem;
    right: -4.4rem;
    rotate: 2deg;
    width: 114px;
  }

  .texto-servicio {
    margin-top: 1rem;
    max-width: 636px;
  }

  .invertir-sm {
    flex-direction: column;
  }

  .margin-infografia {
    margin-top: 0.5rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media(min-width: 356px) and (max-width: 451px) {
  .grid-columns {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 452px;
    min-height: 540px;
    margin-left: 0px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .text-titulo-mobile {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding-left: 0.5rem;
  }

  .margin-description {
    margin-left: 0.1rem;
  }

  .text-img {
    width: 100%;
  }

  .margin-btn-logo {
    margin-top: 1.5rem;
  }

  .toner1 {
    top: -2.5rem;
    left: -0.5rem;
    rotate: -7deg;
    width: 155px;
  }

  .toner3 {
    top: -0.9rem;
    right: -0.6rem;
    rotate: 4deg;
    width: 131px;
  }

  .texto-servicio {
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .invertir-sm {
    flex-direction: column;
  }

  .margin-infografia {
    margin-top: 0.5rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media(min-width: 335px) and (max-width: 355px) {
  .grid-columns {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 100%;
    min-height: 540px;
    margin-left: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .text-titulo {
    margin-top: 9.5rem;
  }

  .text-titulo-mobile {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding-left: 0rem;
  }

  .margin-description {
    margin-left: 0.1rem;
  }

  .text-img {
    width: 100%;
  }

  .img-garantia {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .margin-btn-logo {
    margin-top: 1.5rem;
  }

  .toner1 {
    top: -2.5rem;
    left: -0.5rem;
    rotate: -7deg;
    width: 155px;
  }

  .toner3 {
    top: -0.9rem;
    right: -0.6rem;
    rotate: 4deg;
    width: 131px;
  }

  .texto-servicio {
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .invertir-sm {
    flex-direction: column;
  }

  .margin-infografia {
    margin-top: 1.5rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media(min-width: 200px) and (max-width: 334px) {
  .grid-columns {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 100%;
    min-height: 540px;
    margin-left: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .text-titulo {
    margin-top: 9.5rem;
  }

  .text-titulo-mobile {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-left: 0rem;
  }

  .margin-description {
    margin-left: 0.1rem;
  }

  .text-img {
    width: 100%;
  }

  .btn-w-tienda {
    width: 111px;
  }

  .img-garantia {
    margin-left: 0.8rem;
    margin-top: 1rem;
  }

  .margin-btn-logo {
    margin-top: 1.5rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .toner1 {
    top: -2.5rem;
    left: -0.1rem;
    rotate: -7deg;
    width: 126px;
  }

  .toner3 {
    top: -0.9rem;
    right: -0.1rem;
    rotate: 4deg;
    width: 131px;
  }

  .texto-servicio {
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .invertir-sm {
    flex-direction: column;
  }

  .margin-infografia {
    margin-top: 2.5rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media(max-width: 512px) {
  .invertir-sm {
    flex-direction: column;
  }

  .h1-position {
    top: 13%;
  }

  .width-manu-hamburguesa {
    width: 100%;
  }

  .block-equis {
    display: block;
  }

  .width-modal {
    width: 286px;
    min-width: 220px;
  }
}

@media (max-width: 1149px) {
  .header-class {
    height: 83px;
  }

  .nav-item {
    /* En mobile/tablet acercamos un poco el subrayado */
    display: inline-flex;
    align-items: center;
  }

  .nav-item::after {
    bottom: -13px;
  }

  .columns-lg {
    grid-template-columns: 1fr 2fr 1fr !important;
    grid-template-rows: 1fr 1fr;
    padding-left: 0rem;
    padding-top: 0.3rem;
    padding-bottom: 10px;
  }

  .logo-grid {
    grid-row-start: 1;
    grid-column: span 3 / span 3;
    align-self: center;
    justify-self: center;
    margin-right: 4.5rem;
    margin-bottom: 0.95rem;
  }

  .padding-nav {
    padding-left: 1.5rem;
    grid-row-start: 2;
    grid-column-start: 1;
    margin-right: 50px;
  }

  .search-class {
    grid-row-start: 2;
    grid-column-start: 2;
    margin-left: auto;
  }

  .margin-cart {
    grid-row-start: 2;
    grid-column-start: 3;
  }

  .line-class {
    display: block;
    position: absolute;
    top: 35.5px;
    left: 0px;
    height: 1px;
    width: 100%;
    background-color: #174355;
  }

  .margin-ver-producto {
    margin-top: 6.3rem;
  }
}

.blog-grid {
  width: 990px;
  grid-template-columns: 3fr 1.5fr;
}

.content-blog {
  display: flex;
}

.margin-scroll-blog-52 {
  scroll-margin-top: 13rem;
}

.margin-scroll-blog-56 {
  scroll-margin-top: 14rem;
}

@media (max-width: 1023px) {
  .margin-scroll-blog-52 {
    scroll-margin-top: 10rem;
  }

  .margin-scroll-blog-56 {
    scroll-margin-top: 11rem;
  }

  .blog-grid {
    width: auto;
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .content-blog {
    display: none;
  }

  .columns-lg {
    padding-left: 1rem;
  }

  .logo-grid {
    margin-right: 1rem;
  }

  .text-menu {
    display: flex;
  }

  .search-class {
    margin-left: 0rem;
  }
}

@media (min-width: 1149px) {
  .columns-lg {
    grid-template-columns: 0.7fr 2fr 1fr 0.7fr;
    padding-left: 4.5rem;
  }

  .padding-nav {
    margin-right: auto;
  }

  .columns-lg {
    place-items: center;
  }
}

@media (min-width: 1300px) {
  .columns-lg {
    grid-template-columns: 0.7fr 2fr 1fr 1fr;
    padding-left: 7rem;
  }
}

@media (min-width: 1149px) {
  .ver-producto {
    margin-top: 0rem;
  }

  .modal-contactanos {
    position: absolute;
  }

  .modal-contactanos-w {
    position: absolute;
  }

  .padding-contacto {
    padding-top: 5rem;
  }

  .mt-contactanos {
    margin-top: 3rem;
  }

  .margin-nosotros {
    margin-top: 7.5rem;
  }

  .text-n-c {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

}

@media (min-width: 951px) {
  .width-producto {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .width-producto {
    width: 49%;
  }
}

@media (min-width: 1152px) {
  .ver-producto {
    margin-left: 7rem;
  }
}

@media (max-width: 1152px) {
  .padding-contacto {
    padding-top: 3rem;
  }

  .mt-contactanos {
    margin-top: 2rem;
  }

  .margin-nosotros {
    margin-top: 6rem;
  }

  .opacity-img {
    opacity: 0.6;
  }
}

@media (min-width: 768px) {
  .nav-top-tienda {
    top: 49px;
  }

  .modal-contactanos {
    position: absolute;
  }

  .modal-contactanos-w {
    position: absolute;
  }
}

@media (max-width: 810px) {
  .padding-nosotros {
    padding-top: 2rem;
  }

  .margin-precio {
    margin-top: 5px;
    margin-bottom: 4px;
  }
}

@media(max-width: 770px) {
  .text-title {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media(max-width: 650px) {
  .blog-grid {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .comunicado-tienda {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .width-producto {
    width: 100%;
  }

  .text-menu {
    display: none;
  }

  .text-title {
    font-size: 3rem;
    line-height: 1;
  }

}

@media (max-width: 553px) {
  .padding-contacto {
    margin-top: 1.7rem;
  }

  .padding-nosotros {
    padding-top: 3rem;
  }

  .mt-contactanos {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .margin-nosotros {
    margin-top: 4rem;
  }

  .text-n-c {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .text-contactos {
    text-align: left;
    text-align: left;
  }

  .margin-cart {
    margin-right: 2rem;
  }

  .logo-footer-text {
    display: none;
  }

  .text-title {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (max-width: 450px) {
  .logo-movil {
    margin-top: 61px;
  }

  .nav-item2 {
    padding-bottom: 10px;
    padding-top: 0.7rem;
  }

  .margin-precio {
    margin-top: 5px;
  }

  .right-mobile {
    right: 0;
  }

  .text-title {
    font-size: 2.25rem;
    line-height: 2.2rem;
    text-align: left;
    margin-left: 1rem;
  }

  .text-titulo {
    margin-top: 7rem;
  }
}

@media(max-width: 385px) {
  .text-buscador::placeholder {
    font-size: 0.785rem;
  }

  .text-descripcion {
    font-size: 0.82rem;
    line-height: 1.2rem;
  }

  .text-infografia {
    font-size: 0.68rem;
    line-height: 0.88rem;
  }

  .comunicado-tienda {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .margin-cart {
    margin-right: 0.8rem;
  }

  .margin-menu {
    margin-left: 1rem;
  }

  .columns-lg {
    padding-left: 0rem;
  }

  .logo-grid {
    margin-right: 0.6rem;
  }
}

.modal-contactanos,
.modal-header {
  position: fixed;
  left: auto;
  right: 0.5rem;
  bottom: 25%;
  transform: none;
  max-width: 18rem;
  min-width: 18rem;
  width: 18rem;
  max-width: 18rem;
  min-height: 10rem;
  max-height: 10rem;
}

.modal-contactanos-w,
.modal-header {
  position: fixed;
  left: auto;
  right: 0.5rem;
  bottom: 25%;
  transform: none;
}

.modal-header {
  right: 1rem !important;
  bottom: 1.5rem !important;
}

@media (min-width: 1301px) {
  .cart-global {
    width: 1100px;
    min-width: 1100px;
  }

  .cart {
    width: 400px;
    flex-shrink: 0;
  }

  .form {
    width: 700px;
    flex-shrink: 0;
  }
}

@media (min-width: 951px) and (max-width: 1300px) {
  .cart-global {
    width: 100%;
  }

  .form {
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  .cart {
    width: 400px;
    flex-shrink: 0;
  }
}

@media (max-width: 950px) {
  .cart-global {
    width: 100%;
  }

  .cart,
  .form {
    width: 100%;
    min-width: 100%;
  }

  .form {
    padding-bottom: 1.5rem;
    padding-top: 2.5rem;
  }

  .position-x-times {
    left: 1rem;
    right: auto;
  }

  .modal-contactanos,
  .modal-header {
    position: absolute;
    width: 18rem;
    max-width: 18rem;
    min-height: 10rem;
    max-height: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-contactanos-w,
  .modal-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icono-equis {
    display: none;
  }

  .icono-flechita {
    display: inline;
  }
}

@media (max-width: 950px) {
  .form {
    padding-top: 1.8rem;
  }
}

@layer utilities {
  @media (min-width: 1301px) {
    .translate-x-cart {
      transform: translateX(700px);
    }

    .translate-x-form {
      transform: translateX(0);
    }
  }

  @media (min-width: 951px) and (max-width: 1300px) {
    .translate-x-cart {
      transform: translateX(calc(100% - 400px));
    }

    .translate-x-form {
      transform: translateX(0);
    }
  }

  @media (max-width: 950px) {
    .translate-x-cart {
      transform: translateX(0);
    }

    .translate-x-form {
      transform: translateX(-100%);
    }
  }
}


.sk-circle {
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #f0c986;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}